.verlangerung-pfand__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@media screen and (min-width : 1600px) {
  .verlangerung-pfand__container{
    width: 600px;
  }
}

@media screen and (min-width : 2048px) {
  .verlangerung-pfand__container{
    width: 750px;
  }
}
