.table__price-wrapper{
  border: 1px solid rgba(124, 185, 45, 1);
  border-radius: 4px;
  height: 54px;
  width: 130px;
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

@media screen and (min-width : 1600px) {
  .table__price-wrapper{
    height: 67px;
    width: 152px;
  }
}

@media screen and (min-width : 2048px) {
  .table__price-wrapper{
    height: 70px;
    width: 167px;
  }
}
