.search__button{
  width: 58px;
  height: 31px;
  margin: 0;
  padding: 0;
  background-color: rgba(124, 185, 45, 1);
  color: white;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-family: Inter;
  font-size: 12px;
}