.w-78 {
  width: 78px;
}

.w-117 {
  width: 117px;
}

.w-120 {
  width: 120px;
}

.w-160 {
  width: 160px;
}

.w-320 {
  width: 320px;
}

.w-400 {
  width: 400px;
}

.w-512 {
  width: 512px;
}

.w-800 {
  width: 800px;
}

.w-1024 {
  width: 1024px;
}
