.input_size_235{
  width: 235px;
}

@media screen and (min-width : 1600px) {
  .input_size_235{
    width: 293px;
  }
}

@media screen and (min-width : 2048px) {
  .input_size_235{
    width: 367px;
  }
}