.grid__item-text_page_abfragen{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

@media screen and (min-width : 1600px) {
  .grid__item-text_page_abfragen{
    font-size: 20px;
  }
}

@media screen and (min-width : 2048px) {
  .grid__item-text_page_abfragen{
    font-size: 25px;
  }
}