.table__price-text{
  color: white;
  margin: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: right;
  margin-right: 10px;

}

@media screen and (min-width : 1600px) {
  .table__price-text{
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (min-width : 2048px) {
  .table__price-text{
    font-size: 18px;
    line-height: 23px;
  }
}
