.table__price-text{
  color: white;
  margin: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: right;
  margin-right: 10px;

}