.transaktion-list__item-text{
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 140px;
}


.transaktion-list__item-text:nth-child(1){
  margin-left: 24px;
  width: 110px;
}


@media screen and (min-width : 1600px) {
  .transaktion-list__item-text{
    font-size: 15px;
  }
}

@media screen and (min-width : 2048px) {
  .transaktion-list__item-text{
    font-size: 18px;
  }
}