.table__title{
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width : 1600px) {
  .table__title{
    font-size: 17px
  }
}

@media screen and (min-width : 2048px) {
  .table__title{
    font-size: 21px
  }
}