.table__text{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
  margin: 0;
}

@media screen and (min-width : 1600px) {
  .table__text{
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (min-width : 2048px) {
  .table__text{
    font-size: 18px;
    line-height: 23px;
  }

}