button {
  height: 30px;
  padding: 8px;
  margin: 0;
  color: #E8E8E8;
  background: inherit;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: .7;
}