.grid{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 70%;
  gap: 16px;
  grid-template-areas:
  "beleihung verlangerung auslosung verkauf"
  "kunden lager transaktionen einkauf"
  "rechnungen darlehen field field";
}