.count__DR {
  width: 33px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7CB92D;
  border: 1px solid #7CB92D;
  border-radius: 4px 0 0 4px;
}

@media screen and (min-width : 1600px) {
  .count__DR {
    width: 41px;
    height: 27px;
  }
}

@media screen and (min-width : 2048px) {
  .count__DR {
    width: 51px;
    height: 32px;
  }
}